/* header img{
  display: block;
  width: 100%;
} */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    /* Базовий шрифт http://htmlbook.ru/css/font-family */
    font-family: 'Montserrat', sans-serif;
    background: url(../img/body_bg.png);
}

header{
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
    /* Забороняємо повторення картинки фону http://htmlbook.ru/css/background-repeat*/
  background-color: black;

}
.header-line{
  text-transform: uppercase;
}
.brend{
  margin-top: 35px;
  text-align: center;
}
.main-slogan{
  font-family: Montserrat;
  font-weight: 700;
  text-align: left;
  font-size: 54px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.header-text {
  /* Позиціонуємо абсолютно відносно батьківського блоку #section1 */
  position: absolute;
  /* З верхньої частии відсупаємо на вказану к-сть відсотків */
  top: 55%;
  /* Зміщуемо блок зліва (розмір з макету) */
  padding-left: 216px;
  /* Товщина шрифту згідно макету, отримають усі дочірні елементи */
  font-weight: 700;
  /* Колір тексту дочірніх елементів */
  color: white;
}

/* Текст - SERTIZ */
.h_t_big-text {
    /* Розмір шрифту згідно макету */
    font-size: 48px;
    /* Відступ знизу між наступним блочним елементом (Y : 582 - (531 + 35) = 16 */
    margin-bottom: 16px;
}

/* Текст - Awesome One Page HTML Templates */
.h_t_small-text {
    /* Розмір та імя шрифту згідно макету */
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    /* Відступ знизу між наступним блочним елементом (Y : 626 - (582 + 16) = 28 */
    margin-bottom: 28px;
}

/* Текст WE MAKE SMART DESIGN */
.h_t_main-slogan {
    /* Розмір та імя шрифту згідно макету */
    font-size: 54px;
    /* Встановлюэмо колір фону у чорний та прозорість (opacity) 0.3 */
    background-color: rgba(0, 0, 0, 0.3);
    /* Границя блоку (візуально) */
    border: solid 1px white;
    /* відступи тексту */
    padding: 37px 37px;
}

#we{
  color: #f1ad1d;
}


/* Section2 */
.brend {
    height: 873px;
}

.brend .title {
    margin-top: 70px;

    text-align: center;
}

.header-line {
    text-transform: uppercase;
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 45px;
}

.info {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    font-weight: 400;
}

/* .images img {
    padding: 20px;
} */
